#header {
  padding: 10px 0px;
}
.menu_list {
  position: fixed;
  top: 35px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
}

.menu_item_white,
.menu_item_black {
  font-size: 1rem;
  cursor: pointer;
  position: relative;
}
.menu_item_white::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  border-bottom: 1px solid white;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
}
.menu_item_white:hover::after {
  width: 25%;
}

.menu_item_black::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  border-bottom: 1px solid black;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
}
.menu_item_black:hover::after {
  width: 25%;
}

#carousel {
  padding: 10px 50px;
  background-color: black !important;
}

#carousel .carousel_contain {
  background-image: url("./../../assets/img/landscape.jpg");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
}

#home_search {
  position: absolute;
  top: 45px;
  z-index: 10;
  display: none;
  padding: 0 1rem;
  left: 50%;
  transform: translateX(-50%);
}

#list_room_search {
  position: absolute;
  top: -20px;
  z-index: 10;
  display: none;
  padding: 0 1rem;
  left: 50%;
  transform: translateX(-50%);
}

.btn_search {
  position: absolute;
  right: 5%;
  top: 10%;
}

.btn_search_guest {
  border: 1px solid gray;
  padding: 1px 8px;
  border-radius: 50%;
}

.button_disabled {
  opacity: 0.3;
  cursor: not-allowed !important;
}

#search_1,
#search_2 {
  display: none;
  width: 700px;
  height: 85px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
}

#search_3 {
  display: none;
  height: 50px;
  border: 1px solid black;
  border-radius: 50px;
  background-color: white;
  position: fixed;
  width: 300px;
  align-content: center;
  align-items: center;
  margin: auto;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.active {
  display: flex !important;
}
.not_active {
  display: none !important;
}
