.header_logo {
  width: 100px;
}

.header_user {
  display: inline-block !important;
  color: black !important;
  background-color: white;
  border: 1px solid black !important;
  border-radius: 40px !important;
  padding: 5px;
  padding-left: 10px;
}

.icon_user {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
}
